<ion-content>
  <br>
  <!-- Header  -->
  <ion-item lines='none'>
    <ion-avatar>
      <img class="logo" src="/assets/logo/umot-logo.svg" />
    </ion-avatar>
    <!-- HOME BUTTON -->
    <div class="top-home-button">
      <ion-button [routerLink]="['signup/question-page']" fill="clear" style="color: #fff;">
        Home
      </ion-button>
    </div>
    <!-- PREMIUM BUTTON -->
    <div class="top-premium-button">
      <ion-button expand="block" fill="clear" style="color: #fff;">
        Premium
      </ion-button>
    </div>
  </ion-item>

  <br>
  <!-- <br>
  <br> -->

  <div *ngIf="questions" class="container">

    <div *ngIf="questionNumber < 7" class="progress-bar-container">
      <div *ngIf="questionNumber === 0">
        <ion-label style="color: #ffff;">Question 1/7</ion-label>
        <ol class="progress-bar">
          <li class="is-active"><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
        </ol>
      </div>

      <div *ngIf="questionNumber === 1">
        <ion-label style="color: #ffff;">Question 2/7</ion-label>
        <ol class="progress-bar">
          <li class="is-complete"><span></span></li>
          <li class="is-active"><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
        </ol>
      </div>

      <div *ngIf="questionNumber === 2">
        <ion-label style="color: #ffff;">Question 3/7</ion-label>
        <ol class="progress-bar">
          <li class="is-complete"><span></span></li>
          <li class="is-complete"><span></span></li>
          <li class="is-active"><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
        </ol>
      </div>

      <div *ngIf="questionNumber === 3">
        <ion-label style="color: #ffff;">Question 4/7</ion-label>
        <ol class="progress-bar">
          <li class="is-complete"><span></span></li>
          <li class="is-complete"><span></span></li>
          <li class="is-complete"><span></span></li>
          <li class="is-active"><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
        </ol>
      </div>

      <div *ngIf="questionNumber === 4">
        <ion-label style="color: #ffff;">Question 5/7</ion-label>
        <ol class="progress-bar">
          <li class="is-complete"><span></span></li>
          <li class="is-complete"><span></span></li>
          <li class="is-complete"><span></span></li>
          <li class="is-complete"><span></span></li>
          <li class="is-active"><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
        </ol>
      </div>

      <div *ngIf="questionNumber === 5">
        <ion-label style="color: #ffff;">Question 6/7</ion-label>
        <ol class="progress-bar">
          <li class="is-complete"><span></span></li>
          <li class="is-complete"><span></span></li>
          <li class="is-complete"><span></span></li>
          <li class="is-complete"><span></span></li>
          <li class="is-complete"><span></span></li>
          <li class="is-active"><span></span></li>
          <li><span></span></li>
        </ol>
      </div>

      <div *ngIf="questionNumber === 6">
        <ion-label style="color: #ffff;">Question 7/7</ion-label>
        <ol class="progress-bar">
          <li class="is-complete"><span></span></li>
          <li class="is-complete"><span></span></li>
          <li class="is-complete"><span></span></li>
          <li class="is-complete"><span></span></li>
          <li class="is-complete"><span></span></li>
          <li class="is-complete"><span></span></li>
          <li class="is-active"><span></span></li>
        </ol>
      </div>

      <br>
      <!-- QUESTION -->
      <ion-text>
        <!-- <h1 style="color: #ffff; font-size: 24px; font-weight: 900;" >Who are you with?</h1> -->
        <h1 style="color: #ffff; font-size: 24px; font-weight: 900;">{{questions[questionNumber].text}}</h1>
      </ion-text>
      <!-- OPTIONS -->


      <div *ngIf="questions[questionNumber].question_id != 2; else slider">
        <ion-buttons *ngIf="questions[questionNumber].answers" style="top: 10px; position: relative;" slot="start">
          <ion-button *ngIf="questions[questionNumber].answers.length >= 1" expand="block" fill="solid"
            [color]="buttonValue === 0 ? 'danger' : 'light'"
            (click)="recordQuestionResponse(0,questionNumber,questions[questionNumber].question_id,questions[questionNumber].answers[0].answer_id,questions[questionNumber].text,questions[questionNumber].answers[0].text)">
            <!-- Alone -->
            {{questions[questionNumber].answers[0].text}}
          </ion-button>
          <ion-button *ngIf="questions[questionNumber].answers.length >= 2" style="left: 10px; position: relative;"
            expand="block" fill="solid" [color]="buttonValue === -1 ? 'danger' : 'light'"
            (click)="recordQuestionResponse(-1,questionNumber,questions[questionNumber].question_id,questions[questionNumber].answers[1].answer_id,questions[questionNumber].text,questions[questionNumber].answers[1].text)">
            <!-- Sweet love/partner -->
            {{questions[questionNumber].answers[1].text}}
          </ion-button>
          <ion-button *ngIf="questions[questionNumber].answers.length >= 3" style="left: 20px; position: relative;"
            expand="block" fill="solid" [color]="buttonValue === -2 ? 'danger' : 'light'"
            (click)="recordQuestionResponse(-2,questionNumber,questions[questionNumber].question_id,questions[questionNumber].answers[2].answer_id,questions[questionNumber].text,questions[questionNumber].answers[2].text)">
            <!-- Family -->
            {{questions[questionNumber].answers[2].text}}
          </ion-button>
          <ion-button *ngIf="questions[questionNumber].answers.length === 4" style="left: 30px; position: relative;"
            expand="block" fill="solid" [color]="buttonValue === -3 ? 'danger' : 'light'"
            (click)="recordQuestionResponse(-3,questionNumber,questions[questionNumber].question_id,questions[questionNumber].answers[3].answer_id,questions[questionNumber].text,questions[questionNumber].answers[3].text)">
            <!-- Friends -->
            {{questions[questionNumber].answers[3].text}}
          </ion-button>
        </ion-buttons>
      </div>


      <!-- SEARCH BAR / INPUT BAR -->
      <div *ngIf="questions[questionNumber].answers === null">
        <ion-searchbar [(ngModel)]="searchValue" class="search-bar" placeholder="search" inputmode="text" type="text"
          (ionChange)="searchFreeText(-4)" [debounce]="250">
        </ion-searchbar>
      </div>


      <!-- SEARCH DROPDOWN -->
      <!-- <div class="search-dropdown-box" *ngIf="searchValue != null"> -->
      <div *ngIf="dropDownClose != true">
        <div class="question-search-dropdown-box">
          <ion-list (click)="recordFreeText(questionNumber,actorName.id,actorName.name)"
            *ngFor="let actorName of actorNameList">
            <ion-item>
              <ion-label style="margin-left: 10px;">{{actorName.name}}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>

      <ng-template #slider>
        <ion-item class="traansparent">
          <ion-range [(ngModel)]="minutes" style=" --height: 52px;--knob-size: 30px; font-size: 15px;" min="0" max="182"
            pin color="danger" (ionChange)="sliderRangeUpdate(-5,questionNumber,questions[questionNumber].question_id)">
          </ion-range>
        </ion-item>
        <ion-text style="color: #ffff;">
          <p>0 minutes<span class="infinite-text">Infinite minutes</span></p>
        </ion-text>
      </ng-template>

      <!-- CONTINUE, SUBMIT BUTTON -->
      <ion-button *ngIf="buttonValue != 1" class="continue-button" color="danger" expand="block" fill="solid"
        (click)="nextQuestionNumber(questions[questionNumber])">
        Continue
      </ion-button>
    </div>

    <!-- RECOMMENDATION AREA-->

    <div class="recommendation-container" *ngIf="questionNumber >= 7">
      <!-- BACK BUTTON -->
      <ion-button (click)="reloadWindow()" class="back-btn" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        <ion-label style="margin-left: 10px;">Back</ion-label>
      </ion-button>

      <!-- MCQ QUESTIONS RE-DISPLAY -->
      <!-- <div *ngFor="let item of numberOfQuestionsAnswered"> -->
      <!-- QUESTION -->
      <!-- <ion-text class="question-text">
          <h1 style="color: #ffff; font-size: 16px; font-weight: 900;">{{questionsOfnumberOfQuestionsAnswered[item]}}
          </h1> -->
      <!-- <h1 style="color: #ffff; font-size: 24px; font-weight: 900;" >{{questions[questionNumber].text}}</h1> -->
      <!-- </ion-text> -->

      <!-- FIRST BUTTON -->
      <!-- <ion-buttons slot="start">
          <ion-button class="question-button" expand="block" fill="solid" color="danger">
            {{answersOfnumberOfQuestionsAnswered[item]}} -->
      <!-- {{questions[questionNumber].answers[0].text}} -->
      <!-- </ion-button>
        </ion-buttons>
      </div> -->

      <!-- MCQ QUESTIONS RE-DISPLAY -->
      <div *ngFor="let item of questionAnswerResponses.questionAnswersData">
        <!-- QUESTION -->
        <ion-text class="question-text">
          <h1 style="color: #ffff; font-size: 16px; font-weight: 900;">{{item.questions}}
          </h1>
        </ion-text>

        <!-- BUTTON -->
        <ion-buttons slot="start">
          <ion-button class="question-button" expand="block" fill="solid" color="danger">
            {{item.answers}}
          </ion-button>
        </ion-buttons>
      </div>
      <!-- QUESTION -->
      <ion-text class="question-text">
        <h1 style="color: #ffff; font-size: 16px; font-weight: 900;">Time to Spend?</h1>
      </ion-text>

      <ion-item class="traansparent">
        <ion-range [value]="minutes" style=" --height: 52px;--knob-size: 30px; font-size: 15px;" min="0" max="182" pin
          color="danger"></ion-range>
      </ion-item>
      <ion-text style="top: -20px; position: relative; color: #979797;">
        <p>0 minutes<span class="infinite-text-result">Infinite</span></p>
      </ion-text>

      <!-- QUESTION -->
      <ion-text *ngIf="freeTextRecorded != null" class="question-text">
        <h1 style="color: #ffff; font-size: 16px; font-weight: 900;">{{freeTextQuestion}}</h1>
      </ion-text>

      <!-- SEARCH BAR / INPUT BAR -->
      <div *ngIf="freeTextRecorded != null">
        <ion-searchbar [(ngModel)]="searchValue" class="search-bar" placeholder="search" inputmode="text" type="text">
        </ion-searchbar>
      </div>
    </div>

    <!-- LOADING -->
    <ion-spinner *ngIf="!recommendationCheck" class="loading" color="danger" name="crescent"></ion-spinner>
    <ion-text *ngIf="!recommendationCheck" class="loading-text">
      <h1>Loading...</h1>
    </ion-text>


    <ion-avatar class="loading-img" *ngIf="recommendationCheck">
      <img style="border-radius: 0%; height: auto;" src="/assets/logo/umot-logo.svg" />
    </ion-avatar>
    <div *ngIf="!noRecommendationCheck;else noRecommendation">
      <ion-text *ngIf="recommendationCheck" class="recommendation-text">
        <h1>We Have <b>
            <ion-text color="danger">{{recommendationReturned.length}}</ion-text>
          </b> Recommendations</h1>
      </ion-text>
      <ion-button *ngIf="recommendationCheck" class="view-recommendation-button" (click)="viewRecommendations()"
        expand="block" fill="solid" color="danger">
        View Recommenadtions
      </ion-button>
    </div>

    <ng-template #noRecommendation>
      <ion-text *ngIf="recommendationCheck" class="recommendation-text">
        <h1>We Have <b>
            <ion-text color="danger">0</ion-text>
          </b> Recommendations.<br></h1>
      </ion-text>
      <ion-button *ngIf="recommendationCheck" class="view-recommendation-button" (click)="reloadWindow()" expand="block"
        fill="solid" color="danger">
        Get New Recommendation
      </ion-button>
    </ng-template>
  </div>



  <br>
  <!-- <br> -->

  <!-- FOOTER -->
  <ion-grid fixed>
    <!-- FAQ -->
    <ion-row class="row-space">
      <ion-col size="9">
        <p><a class="footer" [routerLink]="['/home/faq']">How can i use UMOT?</a></p>
      </ion-col>
    </ion-row>

    <!-- PRIVACY POLICY  -->
    <ion-row class="row-space">
      <ion-col size="10">
        <p><a [routerLink]="['/home/privacy-policy']" class="footer">Privacy and cookies Policy</a></p>
      </ion-col>

      <!-- FEEDBACK BUTTON -->
      <ion-col size="2">
        <ion-button expand="block" fill="outline" style="color: #979797; --border-color: #979797;">
          <ion-icon class="feedback-icon" name="chatbubbles-outline"></ion-icon>
          Feedback
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="row-space">
      <!-- COPYRIGHT -->
      <ion-col size="10">
        <p class="footer">© UMOT movies</p>
      </ion-col>
      <!-- SOCIAL MEDIA LOGOS -->
      <ion-col size="2">
        <br>
        <ion-icon style="margin-left: 6px;" class="social-icons" name="logo-facebook"></ion-icon>
        <ion-icon class="social-icons" name="logo-instagram"></ion-icon>
        <ion-icon class="social-icons" name="logo-twitter"></ion-icon>
        <ion-icon class="social-icons" name="logo-linkedin"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
</ion-content>