<!-- <ion-header class="ion-no-border">
  
</ion-header> -->

<!-- BODY -->
<ion-content>

  <!-- Header  -->
  <ion-item lines='none'>
    <ion-avatar>
      <img class="logo" src="/assets/logo/umot-logo.svg" />
    </ion-avatar>
    <!-- HOME BUTTON -->
    <div class="top-home-button">
      <ion-button [routerLink]="['/home']" expand="block" fill="clear" style="color: #fff;">
        Home
      </ion-button>
    </div>
    <!-- PREMIUM BUTTON -->
    <div class="top-premium-button">
      <ion-button expand="block" fill="clear" style="color: #fff;">
        Premium
      </ion-button>
    </div>

    <!-- SEARCH BAR -->
    <ion-grid style="min-width: -webkit-fill-available; margin-bottom: -19px;">
      <ion-row>
        <ion-col size="6">
          <ion-item class="search" lines="none">
            <ion-searchbar [(ngModel)]="searchValue"  style="--background: #fff;" placeholder="search" inputmode="text" type="text" (ionChange)="search()" [debounce]="250">    
            </ion-searchbar>
        <!-- <ion-input  [(ngModel)]="searchValue" (ngModelChange)="goToSearch()" color="medium" type="text" placeholder="search">
            <ion-icon name="search-outline" style="margin-left: 10px; margin-right: 5px;"></ion-icon>
        </ion-input> -->
      </ion-item>
      </ion-col>
      
      <!-- LOGIN BUTTON -->
      <ion-col size="6">      
      <ion-item class="login-button" lines="none">
        <ion-button [routerLink]="['/login']" fill="solid" color="danger" style="width: 150px; height: 38px;" >
          Login
        </ion-button>
      </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  

  <!-- SEARCH DROPDOWN -->
  <div class="search-dropdown-box" *ngIf="check === true">
    <ion-list *ngFor="let movie of movies">
        <ion-item (click)="movieClick(movie.tmdb_id)">
            <ion-thumbnail>
                <!-- <img src="/assets/film-posters/film_1.png" /> -->
                <img [src] = "movie.img"/>
            </ion-thumbnail>
            <ion-label style="margin-left: 10px;">{{movie.title}}</ion-label>
        </ion-item>
        <!-- <ion-item>
            <ion-thumbnail>
                <img src="/assets/film-posters/film_1.png" />
            </ion-thumbnail>
            <ion-label style="margin-left: 10px;">Justice League</ion-label>
        </ion-item> -->
    </ion-list>
    <ion-item lines="none" style="height: 40px;">
        <p style="margin-left: 50px;"><a (click)="goToSearch()" style="color: #EE3468; font-size: 15px;">See All Results</a></p>
    </ion-item>
  </div>


  <div class="searched-movies">
    
    <!-- <br> -->
    <br>
    <div class="ion-padding"></div>

    <ion-label style="color: #fff;"><b>How to use UMOT?</b></ion-label>

    <br>
  </div>

  <ion-list>
    <ion-item class="faq-questions">
      <ion-label>Awesome Text</ion-label>
      <ion-icon color="danger" slot="end" name="add"></ion-icon>
    </ion-item>

    <ion-item class="faq-questions">
      <ion-label>Awesome Text</ion-label>
      <ion-icon color="danger" slot="end" name="add"></ion-icon>
    </ion-item>

    <ion-item class="faq-questions">
      <ion-label>Awesome Text</ion-label>
      <ion-icon color="danger" slot="end" name="add"></ion-icon>
    </ion-item>

    <ion-item class="faq-questions">
      <ion-label>Awesome Text</ion-label>
      <ion-icon color="danger" slot="end" name="add"></ion-icon>
    </ion-item>

    <ion-item class="faq-questions">
      <ion-label>Awesome Text</ion-label>
      <ion-icon color="danger" slot="end" name="add"></ion-icon>
    </ion-item>

    <ion-item class="faq-questions">
      <ion-label>Awesome Text</ion-label>
      <ion-icon color="danger" slot="end" name="add"></ion-icon>
    </ion-item>

    <ion-item class="faq-questions">
      <ion-label>Awesome Text</ion-label>
      <ion-icon color="danger" slot="end" name="add"></ion-icon>
    </ion-item>

    <ion-item class="faq-questions">
      <ion-label>Awesome Text</ion-label>
      <ion-icon color="danger" slot="end" name="add"></ion-icon>
    </ion-item>

    <ion-item class="faq-questions">
      <ion-label>Awesome Text</ion-label>
      <ion-icon color="danger" slot="end" name="add"></ion-icon>
    </ion-item>
  </ion-list>
    
  <div class="empty"></div>

  <!-- DISCLOSURE-FAQ -->
  <!-- <dl class="faq">
    <dt>
      <button aria-expanded="false" aria-controls="faq1_desc">
        What do I do if I have a permit for an assigned lot, but can't find a space there?
      </button>
    </dt>
    <dd>
      <p id="faq1_desc" class="desc">
        Park at the nearest available parking meter without paying the meter
        and call 999-999-9999 to report the problem. We will note and approve your alternate
        location and will investigate the cause of the shortage in your assigned facility.
      </p>
    </dd>
    <dt>
      <button aria-expanded="false" aria-controls="faq2_desc">
        What do I do if I lose my permit or if my permit is stolen?
      </button>
    </dt>
    <dd>
      <p id="faq2_desc" class="desc">
        You should come to the Parking office and report the
        loss. There is a fee to replace your lost permit. However, if your permit was stolen, a
        copy of a police report needs to be submitted along with a stolen parking permit form for
        a fee replacement exemption.
      </p>
    </dd>
    <dt>
      <button aria-expanded="false" aria-controls="faq3_desc">
        Is there free parking on holidays?
      </button>
    </dt>
    <dd>
      <p id="faq3_desc" class="desc">
        All facilities are restricted from 2:00 am - 6:00 am on all days. No
        exceptions are made for any holiday or recess except those officially listed as a
        <q>
          Holidays
        </q>
        in the calendar. Please note: 24-hour rental spaces, 24-hour rental lots, and
        disabled parking is enforced at all times.
      </p>
    </dd>
    <dt>
      <button aria-expanded="false" aria-controls="faq4_desc">
        Do all parking facilities have the same enforcement rules?
      </button>
    </dt>
    <dd>
      <p id="faq4_desc" class="desc">
        Some parking facility restrictions differ from others. Be sure to
        take note of the signs at each lot entrance.
      </p>
    </dd>
  </dl>

</ion-content> -->

<!-- FOOTER -->
<ion-footer class="ion-no-border">
  <!-- <br> -->
  <!-- <br> -->
  
  <ion-grid fixed>
      <!-- FAQ -->
      <ion-row class="row-space">
          <ion-col size="9">
          <p><a class="footer" [routerLink]="['/home/faq']">How can i use UMOT?</a></p>
          </ion-col>
      </ion-row>
      
      <!-- PRIVACY POLICY  -->
      <ion-row class="row-space">
          <ion-col size="10">
          <p><a [routerLink]="['/home/privacy-policy']" class="footer">Privacy and cookies Policy</a></p>
          </ion-col>
          
          <!-- FEEDBACK BUTTON -->
          <ion-col size="2">
          <ion-button expand="block" fill="outline" style="color: #979797; --border-color: #979797;">
              <ion-icon class="feedback-icon" name="chatbubbles-outline"></ion-icon>
              Feedback
          </ion-button>
          </ion-col>
      </ion-row>

      <ion-row class="row-space">
          <!-- COPYRIGHT -->
          <ion-col size="10">
              <p class="footer">© UMOT movies</p>
          </ion-col>
          <!-- SOCIAL MEDIA LOGOS -->
          <ion-col size="2">
              <br>
              <ion-icon style="margin-left: 6px;" class="social-icons" name="logo-facebook"></ion-icon>
              <ion-icon class="social-icons" name="logo-instagram"></ion-icon>
              <ion-icon class="social-icons" name="logo-twitter"></ion-icon>
              <ion-icon class="social-icons" name="logo-linkedin"></ion-icon>
          </ion-col>
      </ion-row>
  </ion-grid>

  <br>
</ion-footer>