////////////////BACKGROUND////////////////
ion-content {
    --ion-background-color: #1C1A3B;
  }

ion-header {
    --ion-background-color: #1C1A3B;
}

ion-footer {
    background-color: #1C1A3B;
}

////////////////HEADER////////////////

.logo{
    margin-left: 100px;
    border-radius: 0px;
    height: auto;
}

.top-home-button{
    margin-left: 150px;
}

.top-premium-button{
    margin-left: 50px;
}

.search{
    background-color:  #ffffff;
    margin-left: 410px; 
    width: 250px;
    margin-top: 5px;
}

////////////////SEARCH INPUT////////////////

ion-input{
    width: 250px;
    --border-radius: 3px;
    //text-transform: inherit;
}

.login-button{
    // margin-left: 20px;
    width: 250px;
    position: inherit;
}

////////////////FOOTER////////////////////////

.footer{
    margin-left: 5px;
    font-size: 10px;
    color: #979797;
}

.row-space{
    margin-top: -20px;
}

.feedback-icon{
    margin-left: -25px;
    margin-right: 25px;
    font-size: 15px;
    color: #979797;
}

.social-icons{
    font-size: 28px;
    color: #979797;
    margin-right: 15px;
}

////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////

.large-box{
    width: 1366px;
    // --background: url(/assets/background/Banner_1366x768px.jpg);
    // border: 5px solid black;
}

.img{
    background-size: cover;
    // width: 1366px;
    // height: 450px;
    position: absolute;
    display: block;
    top: 50px;
    left: 50px;
}

.large-box .btn{
    position: absolute;
    top: 70%;
    left: 50%;
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    --background-color: #EE3468;
    color: #ffffff;
    width: 240px;
    // font-size: 16px;
    
    
    // padding: 12px 24px;
    // border: none;
    // cursor: pointer;
    // border-radius: 5px;
}

.large-box .back-btn{
    position: absolute;
    top: 5%;
    left: 9%;
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    // --background-color: #EE3468;
    color: #ffffff;
    width: 100px;
}

.large-box .text{
    position: absolute;
    text-align: center;
    font-size: 40px;
    top: 30%;
    left: 10%;
    color: #ffffff;
}
