<ion-content>
    <br>
    <!-- Header  -->
    <ion-item lines='none'>
      <ion-avatar>
        <img class="logo" src="/assets/logo/umot-logo.svg" />
      </ion-avatar>
      <!-- HOME BUTTON -->
      <div class="top-home-button">
        <ion-button [routerLink]="['/home']" fill="clear" color="light">
          Home
        </ion-button>
      </div>
      <!-- PREMIUM BUTTON -->
      <div class="top-premium-button">
        <ion-button expand="block" fill="clear" color="light">
          Premium
        </ion-button>
      </div>
  
      <!-- SEARCH BAR -->
      <ion-grid style="min-width: -webkit-fill-available;">
        <ion-row>
          <ion-col size="6">
            <div class="search">
            <ion-input #moviesearch color="medium" type="text" placeholder="search" (change)="goToSearch(moviesearch.value)">
              <ion-icon name="search-outline" style="margin-left: 10px; margin-right: 5px;"></ion-icon>
            </ion-input>
          </div>
        </ion-col>
        
        <!-- LOGIN BUTTON -->
        <ion-col size="6">      
        <ion-item class="login-button" lines="none">
          <ion-button [routerLink]="['/login']" fill="solid" color="danger" style="width: 150px; height: 38px;" >
            Login
          </ion-button>
        </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <br>
    <br>
    <br>

    <!-- INNER BODY -->
        <!-- LEFT COLUMN -->
    <ion-grid fixed>
        <!-- FIRST ROW -->
        <ion-row>
            <ion-col size="6" style="left: -6em;">
                <ion-text color="light" class="ion-text-justify" style="position: absolute; left: 100px;">
                    <h1 style="font-size: 50px;"><b>Find out <span class="text-danger">UMOT</span>, the first <br> App where you are the <br> main actor.</b></h1>
                        <p>UMOT has developed a recommender system <br> 100% based on you and how you feel.<br><br>
                            Do you want to know more?</p>
                </ion-text>
            </ion-col>

            <ion-col size="6" style="right: -8em;">
                <ion-avatar>
                    <div class="box">
                        <img src="/assets/home/Macbook.png"/>
                    </div>
                </ion-avatar>
            </ion-col>
        </ion-row>

        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        

        <!-- SECOND ROW -->
        <ion-row>
            <ion-col size="6" style="left: -2em;">
                <ion-avatar>
                    <div class="box">
                        <img src="/assets/home/Opción 1 mockups.png"/>
                    </div>
                </ion-avatar>
            </ion-col>
            
            <ion-col size="6" style="left: 2em;">
                <ion-text color="light" class="ion-text-justify" style="position: absolute; left: 100px;">
                    <h1><b><span style="color: #979797;font-size: 50px;">01</span><br>MOVIES RECOMMENDER<br></b>
                    </h1>
                        <p>Tell us how you feel or how long you have <br>to spare and we will recommend you the <br> option 
                            <span class="text-danger">that better suits you right now.</span><br><br>
                            It will only take 1 min! 
                        </p>
                </ion-text>
            </ion-col>
        </ion-row>


        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        
        <!-- THIRD ROW -->
        <ion-row>
            <ion-col size="6" style="left: -6em;">
                <ion-text color="light" class="ion-text-justify" style="position: absolute; left: 100px;">
                    <h1><b><span style="color: #979797;font-size: 50px;">02</span><br>AN APP THAT LEARNS<br></b>
                    </h1>
                        <p>The more info you share with us, the<br>more UMOT will learn. We will improve the<br>
                            recommendations we offer to you and you will be able <br> to reject those ones that don´t suit 
                            your interests <br> and to remove from them future recommendations.
                        </p>
                </ion-text>
            </ion-col>

            <ion-col size="6" style="right: -8em;">
                <ion-avatar>
                    <div class="box">
                        <img src="/assets/home/Opción 2 mockups.png"/>
                    </div>
                </ion-avatar>
            </ion-col>
        </ion-row>

        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        

        <!-- FOURTH  ROW -->
        <ion-row>
            <ion-col size="6" style="left: -2em;">
                <ion-avatar>
                    <div class="box">
                        <img src="/assets/home/Opción 3 mockups.png"/>
                    </div>
                </ion-avatar>
            </ion-col>
            
            <ion-col size="6" style="left: 2em;">
                <ion-text color="light" class="ion-text-justify" style="position: absolute; left: 100px;">
                    <h1><b><span style="color: #979797;font-size: 50px;">03</span><br>ONE SEARCH ENGINE ONLY<br></b>
                    </h1>
                        <p>We will show you all the available platforms<br>where you can find the series or movie<br> 
                            you are looking for. Everything in one App. 
                        </p>
                </ion-text>
            </ion-col>
        </ion-row>

        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br>

        <!-- FIFTH ROW HAVING BANNER-->
        <ion-row>
            <ion-col size="12" style="left: -7.6em;">
                <div class="large-box">
                    <img src="/assets/background/Banner_1366x768px.jpg"/>
                    <p class="text">
                        <b>Do you want more?</b>
                        <br>
                        <br>Find out about <span style="color: #EE3468;font-weight: bold;"><b>PREMIUM</b></span>
                    </p>
                    <ion-button class="btn" color="danger" expand="block" fill="solid">
                        Go to Premium
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


<!-- FOOTER -->
<ion-footer class="ion-no-border">
    <!-- <br> -->
    <!-- <br> -->
    
    <ion-grid fixed>
        <!-- FAQ -->
        <ion-row class="row-space">
            <ion-col size="9">
            <p><a class="footer" [routerLink]="['/home/faq']">How can i use UMOT?</a></p>
            </ion-col>
        </ion-row>
        
        <!-- PRIVACY POLICY  -->
        <ion-row class="row-space">
            <ion-col size="10">
            <p><a [routerLink]="['/home/privacy-policy']" class="footer">Privacy and cookies Policy</a></p>
            </ion-col>
            
            <!-- FEEDBACK BUTTON -->
            <ion-col size="2">
            <ion-button expand="block" fill="outline" style="color: #979797; --border-color: #979797;">
                <ion-icon class="feedback-icon" name="chatbubbles-outline"></ion-icon>
                Feedback
            </ion-button>
            </ion-col>
        </ion-row>
  
        <ion-row class="row-space">
            <!-- COPYRIGHT -->
            <ion-col size="10">
                <p class="footer">© UMOT movies</p>
            </ion-col>
            <!-- SOCIAL MEDIA LOGOS -->
            <ion-col size="2">
                <ion-icon style="margin-left: 6px;" class="social-icons" name="logo-facebook"></ion-icon>
                <ion-icon class="social-icons" name="logo-instagram"></ion-icon>
                <ion-icon class="social-icons" name="logo-twitter"></ion-icon>
                <ion-icon class="social-icons" name="logo-linkedin"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
  
    <br>
  </ion-footer>