<ion-content [fullscreen]="true" no-scroll padding>
  <div id="container">
    <ion-grid fixed class="ion-align-items-center">
      <ion-row>
        <ion-col size="12">
          <ion-avatar>
            <img src="/assets/logo/umot-logo.svg" />
          </ion-avatar> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <br>
          <ion-text color="light"><b>Login</b></ion-text>
          <div class="ion-padding"></div>
        </ion-col>
      </ion-row>
      <ion-card-content>
        <form [formGroup]="loginForm" (keyup.enter)="onSubmit()" (ngSubmit)="onSubmit()">

          <ion-row>
            <ion-col size="12">
                <ion-item>
                  <!-- <ion-label position="floating">Email</ion-label> -->
                  <ion-input placeholder="Email" required formControlName="email" type="email"></ion-input>
                </ion-item>     
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-item class="traansparent" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched" lines="none">
                <ion-text color="danger" class="form-error">
                  Please enter a valid email address.
                </ion-text>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-item>
                <!-- <ion-label position="floating">Password
                </ion-label> -->
                <ion-input placeholder="Password" required formControlName="password" type="password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-item class="traansparent" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" lines="none">
                <ion-text color="danger" class="form-error">
                  Please enter a valid password
                </ion-text>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-button type="submit" expand="block" color="danger" [disabled]="loginForm.invalid" shape="round">
                Continue
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row slot="end">
            <ion-col size="12">
              <ion-text color="light">
                  <a [routerLink]="['forgot-password']"> <ion-text class="text" color="danger"> Forgot Password?</ion-text></a>
              </ion-text>
            </ion-col>
          </ion-row>

        </form>
      </ion-card-content>

      <ion-row>
        <ion-col size="12">
          <ion-buttons>
            <ion-back-button color="light" defaultHref="login"></ion-back-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-text  class="ion-text-center text" color="medium">
    <p>by Registering at UMOT, you accept our <a href="https://google.com">Terms of Service and Privacy Policy</a></p>
  </ion-text>
</ion-footer>