<ion-content>
  
  <br>
  <!-- Header  -->
  <ion-item lines='none'>
    <ion-avatar>
      <img class="logo" src="/assets/logo/umot-logo.svg" />
    </ion-avatar>
    <!-- HOME BUTTON -->
    <div class="top-home-button">
      <ion-button [routerLink]="['/premium']" fill="clear" style="color: #fff;">
        Home
      </ion-button>
    </div>
    <!-- WISH-LIST BUTTON -->
    <div class="top-my-wish-list-button">
      <ion-button [routerLink]="['/premium/premium-wish-list']" expand="block" fill="clear" style="color: #fff;">
        My Wish List
      </ion-button>
    </div>
    <!-- My IDEAL PLATFORM BUTTON -->
    <div class="top-my-ideal-platform-button">
      <ion-button [routerLink]="['/premium/premium-ideal-platform']" expand="block" fill="clear" style="color: #fff;">
        My Ideal Platform
      </ion-button>
    </div>
    <!-- HISTORY BUTTON -->
    <div class="top-history-button">
        <ion-button [routerLink]="['/premium/premium-history']" expand="block" fill="clear" style="color: #fff;">
        History
        </ion-button>
    </div>

    <!-- SEARCH BAR -->
    <ion-grid style="min-width: -webkit-fill-available;  margin-bottom: -19px;">
      <ion-row>
        <ion-col size="2">
          <div class="search">
            <ion-searchbar [(ngModel)]="searchValue"  style="--background: #fff;" placeholder="search" inputmode="text" type="text" (ionChange)="search()" [debounce]="250">    
            </ion-searchbar>
        <!-- <ion-input  [(ngModel)]="searchValue" (ngModelChange)="goToSearch()" color="medium" type="text" placeholder="search">
            <ion-icon name="search-outline" style="margin-left: 10px; margin-right: 5px;"></ion-icon>
        </ion-input> -->
      </div>
      </ion-col>
      <!-- LOGIN BUTTON -->
      <ion-col size="2">      
      <ion-item class="login-button" lines="none">
        <ion-button [routerLink]="['/login']" fill="solid" color="danger" style="width: 150px; height: 40px;" >
          Login
        </ion-button>
      </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <!-- SEARCH DROPDOWN -->
  <!-- <div class="search-dropdown-box">
    <ion-list>
        <ion-item>
            <ion-thumbnail>
                <img src="/assets/film-posters/film_1.png" />
            </ion-thumbnail>
            <ion-label style="margin-left: 10px;">Justice League</ion-label>
        </ion-item>
        <ion-item>
            <ion-thumbnail>
                <img src="/assets/film-posters/film_1.png" />
            </ion-thumbnail>
            <ion-label style="margin-left: 10px;">Justice League</ion-label>
        </ion-item>
        <ion-item lines="none" style="height: 40px;">
            <p style="margin-left: 50px;"><a [routerLink]="['/home/menu-search']" style="color: #EE3468; font-size: 15px;">See All Results</a></p>
        </ion-item>
    </ion-list>
</div> -->

  <div class="searched-movies">
    
    <br>
    <br>
    <div class="ion-padding"></div>

    <ion-label style="color: #fff;"><b>All Resuts</b></ion-label>

    <br>
  </div>

  <div class="empty" *ngIf="check === true">

  </div>

  <!-- MOVIE LIST DISPLAY -->
  <div class="searched-movies-list">
    <ion-list *ngFor="let movie of movies">
      <ion-item *ngIf="movie != null" (click)="movieClick(movie.tmdb_id)">
          <ion-thumbnail class="thumbnail">
            <img [src] = "movie.img"/>
          </ion-thumbnail>
          <ion-item lines = "none">
              <ion-text style="color: #fff;">
                  <h3 style="margin-top: 1px;">{{ movie.title }}</h3>
                  <p style="font-size: 15px;">{{ movie.release_date }}</p>
                  <ion-grid>
                    <ion-row>
                      <ion-col *ngIf = "movie.providers[0]">
                            <ion-thumbnail class="platform">
                              <img src="/assets/platforms/HBO.svg"/>
                          </ion-thumbnail>
                      </ion-col>
                      <ion-col *ngIf = "movie.providers[1]">
                        <ion-thumbnail class="platform">
                          <img src="/assets/platforms/Netflix.svg"/>
                        </ion-thumbnail>
                      </ion-col>
                      <ion-col *ngIf = "movie.providers[2]">
                        <ion-thumbnail class="platform">
                          <img src="/assets/platforms/Prime video.svg"/>
                      </ion-thumbnail>
                      </ion-col>
                      <ion-col *ngIf = "movie.providers[3]">
                        <ion-thumbnail class="platform">
                          <img src="/assets/platforms/Apple TV.svg"/>
                        </ion-thumbnail>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  
              </ion-text>
          </ion-item>
      </ion-item>

      <br>

      <!-- <ion-item>
        <ion-thumbnail class="thumbnail">
            <img src="/assets/film-posters/film_3.png"/>
        </ion-thumbnail>
        <ion-item lines = "none">
            <ion-text color="light">
                <h3 style="margin-top: 1px;">SPIDERMAN</h3>
                <p style="font-size: 15px;">2019</p>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                          <ion-thumbnail class="platform">
                            <img src="/assets/platforms/HBO.svg"/>
                        </ion-thumbnail>
                    </ion-col>
                    <ion-col>
                      <ion-thumbnail class="platform">
                        <img src="/assets/platforms/Netflix.svg"/>
                      </ion-thumbnail>
                    </ion-col>
                    <ion-col>
                      <ion-thumbnail class="platform">
                        <img src="/assets/platforms/Prime video.svg"/>
                    </ion-thumbnail>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </ion-text>
        </ion-item>
      </ion-item>

      <br>

        <ion-item>
              <ion-thumbnail class="thumbnail">
                  <img src="/assets/film-posters/film-poster.jpg"/>
              </ion-thumbnail>
              <ion-item lines = "none">
                  <ion-text color="light">
                      <h3 style="margin-top: 1px;">JOKER</h3>
                      <p style="font-size: 15px;">2019</p>
                      <ion-grid>
                        <ion-row>
                          <ion-col>
                                <ion-thumbnail class="platform">
                                  <img src="/assets/platforms/HBO.svg"/>
                              </ion-thumbnail>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                      
                  </ion-text>
              </ion-item>
        </ion-item>  -->
    </ion-list>
  </div>
  <br>
  <br>

  <!-- FOOTER -->
  <br>
  <br>
  <!-- FAQ -->
  <ion-grid fixed>
    <ion-row class="row-space">
      <ion-col size="9">
        <p><a class="footer" [routerLink]="['/premium/premium-faq']">How can i use UMOT?</a></p>
      </ion-col>
    </ion-row>
    <!-- PRIVACY POLICY  -->
    <ion-row class="row-space">
      <ion-col size="10">
        <p><a [routerLink]="['/premium/premium-privacy-policy']" class="footer">Privacy and cookies Policy</a></p>
      </ion-col>
      <!-- FEEDBACK BUTTON -->
      <ion-col size="2">
        <ion-button expand="block" fill="outline" style="color: #979797; --border-color: #979797;">
          <ion-icon class="feedback-icon" name="chatbubbles-outline"></ion-icon>
          Feedback
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row class="row-space">
      <!-- COPYRIGHT -->
      <ion-col size="10">
        <p class="footer">© UMOT movies</p>
      </ion-col>
      <!-- SOCIAL MEDIA LOGOS -->
      <ion-col size="2">
          <br>
          <ion-icon style="margin-left: 6px;" class="social-icons" name="logo-facebook"></ion-icon>
          <ion-icon class="social-icons" name="logo-instagram"></ion-icon>
          <ion-icon class="social-icons" name="logo-twitter"></ion-icon>
          <ion-icon class="social-icons" name="logo-linkedin"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
</ion-content>